
header{
    align-items: center;
    justify-content: space-between;
    // padding: 10px 12px;
    margin-top: 10px;
    .logo{
        display: flex;
       margin-left: 100px;
    }
}
.navbar-nav{
    display: flex;
    gap: 100px;
    padding: 0 20px;
    a{
        color: black;
        font-size: 16px;
    }
}
.icons{
    display: flex;
    gap: 50px;
    margin-right: 100px;
}
#navbarNavAltMarkup {
    justify-content: center;
    margin-top: 5px;
}