
header{
    align-items: center;
    justify-content: space-between;
    // padding: 10px 12px;
    margin-top: 10px;
    .logo{
        display: flex;
       margin-left: 100px;
    }
}
.navbar-nav{
    display: flex;
    gap: 100px;
    padding: 0 20px;
    a{
        color: black;
        font-size: 16px;
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    a:hover{   
        color: black;
        font-size: 16px;
        text-decoration: underline;
        
    }
}
.icons{
    display: flex;
    gap: 50px;
    margin-right: 100px;
    margin-left: 300px;
}
#navbarNavAltMarkup {
    justify-content: center;
    margin-top: 5px;
}