@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  padding: 0 20px;
}
.navbar-nav a {
  color: black;
  font-size: 16px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbar-nav a:hover {
  color: black;
  font-size: 16px;
  text-decoration: underline;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-right: 100px;
}

#navbarNavAltMarkup {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

footer {
  padding: 20px 100px;
  margin-top: 20px;
  position: relative;
  font-weight: 400;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
footer p {
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer li {
  padding: 32px 0px;
  font-weight: 400;
}
footer li a {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
footer li a:hover {
  text-decoration: underline;
}

.logo-footer {
  margin: 0 10px;
}
.logo-footer h3 {
  padding-bottom: 30px;
  font-weight: 600;
}
.logo-footer p {
  color: #9F9F9F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.newsletter-footer {
  margin: 0 10px;
}
.newsletter-footer p {
  margin-bottom: 30px;
}
.newsletter-footer span {
  color: #9F9F9F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-bottom {
  margin: 0 10px;
  padding-bottom: 30px;
}
.footer-bottom p {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu-footer {
  margin-left: 100px;
}

.banner {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-areas: "banner-content";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  grid-area: banner-content;
}

.banner .row {
  grid-area: banner-content;
  z-index: 1;
}
.banner .row .banner-text {
  background-color: #FFF3E3;
  text-align: left;
  border-radius: 10px;
  width: 600px;
  padding: 18px 20px;
}
.banner .row .banner-text p {
  color: var(--Font-Color, #333);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3px;
  padding-bottom: 10px;
}
.banner .row .banner-text h3 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--Primary, #B88E2F);
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 10px;
}
.banner .row .banner-text button {
  margin-top: 40px;
  padding: 25px 72px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  background-color: #B88E2F;
  border: 1px solid #B88E2F;
}

.categories {
  margin-bottom: 30px;
}
.categories h3 {
  text-align: center;
  color: var(--Font-Color, #333);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.categories p {
  margin-top: 10px;
  color: var(--Font-Color1, #666);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-category img {
  border-radius: 10px;
  margin-bottom: 20px;
}
.card-category p {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

hr {
  width: 100%;
  overflow: hidden;
  border: 1px solid black;
  background: #FFF;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Poppins;
}

.products .img_product {
  background-color: #f9f1e7;
  width: 453px;
  height: 500px;
  border-radius: 10px;
  position: relative;
}
.products .img_product img {
  width: 507px;
  padding-top: 83px;
  position: absolute;
  left: -33px;
}
.products .img_sub > img {
  margin-bottom: 20px;
  background-color: #f9f1e7;
  border-radius: 10px;
  height: 80px;
  width: 76px;
}

.product_sub h3 {
  line-height: 50px;
}
.product_sub .price {
  color: #9f9f9f;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.product_sub .star_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-bottom: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_sub .star_rating i {
  color: #ffc700;
}
.product_sub .star_rating p {
  color: #9f9f9f;
  font-size: 13px;
  font-weight: 400;
}
.product_sub .star_rating p::before {
  content: "|";
  margin-right: 10px;
  color: gray;
}
.product_sub > p {
  color: #000;
  font-weight: 400;
}
.product_sub .size {
  margin-top: 22px;
}
.product_sub .size > span {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
}
.product_sub .size .size_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 12px;
  margin-bottom: 18px;
}
.product_sub .size .size_options span {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 5px;
  background: #f9f1e7;
}
.product_sub .size .size_options > span:hover {
  background: #b88e2f;
  color: #fff;
}
.product_sub .color span {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
}
.product_sub .color .color_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-bottom: 18px;
  margin-top: 12px;
}
.product_sub .color .color_options div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.product_sub .functional_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
}
.product_sub .functional_buttons input {
  width: 20%;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #9f9f9f;
  background: #fff;
}
.product_sub .functional_buttons button {
  padding: 17px 50px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  background: #fff;
}
.product_sub table {
  margin-top: 40px;
  margin-bottom: 70px;
  width: 500px;
  gap: 10px;
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
}
.product_sub table th {
  padding: 10px; /* Điều chỉnh khoảng cách bên trong ô */
}
.product_sub table i {
  color: #000;
  margin-right: 3px;
}

hr {
  width: 100%;
  border: 1px solid black;
  background: #FFF;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Poppins;
}

.menu {
  margin-top: 30px;
  margin-bottom: 37px;
}
.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 52px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu ul li a {
  text-decoration: none;
  color: #9f9f9f;
  font-size: 24px;
  font-weight: 400;
}
.menu ul li:hover a {
  color: #000;
}

.description__text {
  color: #9f9f9f;
  width: 1026px;
  margin: 0 auto;
}
.description__text div {
  margin-bottom: 30px;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
}

.description__list {
  gap: 22px;
  margin-bottom: 60px;
}
.description__list .description__product {
  border-radius: 10px;
  background: #f9f1e7;
  width: 605px;
  height: 348px;
}
.description__list .description__product img {
  width: 100%;
}

.input-checkout {
  padding-top: 80px;
}
.input-checkout h3 {
  padding-bottom: 20px;
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

form {
  padding: 10px 12px;
}
form .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
form .first-name {
  margin-bottom: 10px;
}
form .first-name label {
  display: block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form .first-name input {
  width: 211px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  background: #FFF;
}
form .last-name {
  margin-bottom: 10px;
}
form .last-name label {
  display: block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form .last-name input {
  width: 211px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  background: #FFF;
}
form .company {
  margin-bottom: 10px;
}
form .company label {
  display: block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form .company input {
  width: 453px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  background: #FFF;
}
form .country-region {
  margin-bottom: 10px;
}
form .country-region label {
  display: block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form .country-region input {
  width: 453px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  background: #FFF;
}
form .address {
  margin-bottom: 10px;
}
form .address label {
  display: block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form .address input {
  width: 453px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  background: #FFF;
}
form .town-city {
  margin-bottom: 10px;
}
form .town-city label {
  display: block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form .town-city input {
  width: 453px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  background: #FFF;
}
form .province {
  margin-bottom: 10px;
}
form .province label {
  display: block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form .province input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 453px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  background: #FFF;
  padding-left: 30px;
}
form .zip-code {
  margin-bottom: 10px;
}
form .zip-code label {
  display: block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form .zip-code input {
  width: 453px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  background: #FFF;
}
form .number-phone {
  margin-bottom: 10px;
}
form .number-phone label {
  display: block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form .number-phone input {
  width: 453px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  background: #FFF;
}
form .email-address {
  margin-bottom: 10px;
}
form .email-address label {
  display: block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form .email-address input {
  width: 453px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  background: #FFF;
}
form .additional-information {
  margin-bottom: 123px;
}
form .additional-information label {
  display: block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form .additional-information input {
  width: 453px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  background: #FFF;
  padding-left: 30px;
}

.total-checkout {
  padding-top: 80px;
}
.total-checkout .sub-total {
  text-align: right;
}
.total-checkout h4 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.product-checkout {
  padding: 15px 0;
}
.product-checkout .product-info {
  padding-bottom: 8px;
}
.product-checkout .product-info h5 {
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.product-checkout .ship p {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
}
.product-checkout .total p {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-checkout span {
  font-size: 16px;
  font-weight: 600;
}

.sub-total h4 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sub-total .total-product {
  padding-bottom: 20px;
}
.sub-total p {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.sub-total .total p {
  color: var(--Primary, #B88E2F);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-checkout {
  text-align: center;
  padding: 50px 40px;
}
.btn-checkout button {
  background-color: white;
  border-radius: 15px;
  border: 1px solid #000;
  width: 318px;
  height: 64px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payment {
  margin-top: 20px;
}
.payment .payment-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.payment .payment-option p {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.payment svg {
  width: 14px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  vertical-align: middle;
}
.payment .payment-desc {
  color: #9F9F9F;
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 15px;
  padding-top: 15px;
}
.payment .security {
  color: #000;
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 15px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Poppins;
}

.blog__content {
  margin-top: 70px;
  margin-bottom: 60px;
}
.blog__content .blog__content_img {
  border-radius: 10px;
  margin-bottom: 15px;
}
.blog__content .blog__content_img img {
  width: 100%;
}
.blog__content .blog__content_img .blog__content_img_sub {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
}
.blog__content .blog__content_img .blog__content_img_sub i {
  margin-right: 10px;
}
.blog__content .blog__content_text h3 {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 12px;
}
.blog__content .blog__content_text p {
  text-align: justify;
  margin-bottom: 30px;
}
.blog__content a {
  position: relative;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.blog__content a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  bottom: -12px;
  left: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog__content a:hover::after {
  width: 90%;
  left: 5%;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar .search {
  width: 311px;
  height: 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  background: #fff;
  margin-bottom: 45px;
  margin-top: 70px;
}
.sidebar .search .form_search input {
  border: none;
  width: 225px;
  margin-left: 5px;
}
.sidebar .search .form_search input:focus-visible {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sidebar .search .form_search_icon i {
  font-size: 30px;
}
.sidebar .categories {
  margin-bottom: 60px;
}
.sidebar .categories h3 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin: 0 77px 33px 0;
}
.sidebar .categories li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.sidebar .categories li span {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
}
.sidebar .recent_posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 58px;
}
.sidebar .recent_posts h3 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin: 0 77px 33px 0;
}
.sidebar .recent_posts .post_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  margin-left: 50px;
  margin-bottom: 40px;
}
.sidebar .recent_posts .post_item .item_sub h6 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  width: 186px;
}
.sidebar .recent_posts .post_item .item_sub span {
  color: #9f9f9f;
  font-size: 12px;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Poppins;
}

img {
  width: 100%;
}

.more_product h3 {
  margin-top: 21px;
  color: #000;
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 21px;
}
.more_product a {
  position: relative;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.more_product a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  bottom: -5px;
  left: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.more_product a:hover::after {
  width: 100%;
  left: 0%;
}

.product_comparison {
  margin-top: 30px;
  margin-bottom: 60px;
}
.product_comparison .item_img {
  border-radius: 10px;
  background: #f9f1e7;
  position: relative;
  width: 280px;
  height: 177px;
  margin-bottom: 20px;
}
.product_comparison .item_img img {
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.product_comparison .item_sub h4 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.product_comparison .item_sub .price {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.product_comparison .item_sub .star_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_comparison .item_sub .star_rating i {
  color: #ffc700;
}
.product_comparison .item_sub .star_rating p {
  color: #9f9f9f;
  font-size: 13px;
  font-weight: 400;
}
.product_comparison .item_sub .star_rating p::before {
  content: "|";
  margin-right: 10px;
  color: gray;
}

.add_product {
  margin-top: 30px;
}
.add_product h5 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.add_product .add_product_section {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 242px;
  height: 39px;
  background: #f9f1e7;
  border-radius: 6px;
}
.add_product .add_product_section a {
  font-size: 14px;
  font-weight: 600;
}
.add_product .add_product_section:hover {
  color: #fff;
  background: #b88e2f;
}
.add_product .add_product_section i {
  font-size: 25px;
}

.parameter {
  margin-top: 42px;
  padding-bottom: 123px;
}
.parameter h3 {
  color: #000;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 126.5%;
  width: 175px;
  margin-left: 10px;
  padding: 28px 0;
}
.parameter .parameter-product {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.parameter p {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%;
  padding: 34px 10px;
  word-wrap: break-word;
}
.parameter button {
  width: 215px;
  height: 64px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid var(--Primary, #B88E2F);
  background: var(--Primary, #B88E2F);
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section {
  padding-top: 10px;
}

.product {
  margin-bottom: 20px;
}
.product h3 {
  padding-top: 50px;
  padding-bottom: 30px;
  color: var(--Color-Gray-1, #3A3A3A);
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.card-product {
  display: grid;
  grid-template-areas: "discount";
  margin: 0;
  padding: 0;
  gap: 20px;
}
.card-product img {
  width: 100%;
  height: 300px;
  gap: 20px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: discount;
  vertical-align: top;
}
.card-product .row {
  grid-area: discount;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin: 0;
  z-index: 1;
}
.card-product span {
  background-color: red;
  color: white;
  border-radius: 15px;
}

.discount {
  margin: 10px 12px;
}
.discount span {
  background-color: #E97171;
  border-radius: 50%;
  color: white;
  padding: 8px 22px;
  margin-left: 32px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}

.title-product {
  padding-left: 15px;
  background-color: #F4F5F7;
  width: 315px;
  height: auto;
  min-height: 120px;
  margin-top: -18px;
  margin-bottom: 26px;
}
.title-product h5 {
  margin-top: 18px;
  color: #3A3A3A;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}
.title-product span {
  color: var(--Color-Gray-3, #898989);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: block;
}

.new-price {
  margin-top: 8px;
  color: var(--Color-Gray-1, #3A3A3A);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.old-price {
  margin-top: 8px;
  color: var(--Color-Gray-4, #B0B0B0);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: line-through;
}

.btn-view {
  text-align: center;
}
.btn-view button {
  border: 1px solid #B88E2F;
  background-color: white;
  width: 200px;
  height: 50px;
  color: var(--Primary, #B88E2F);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.slice {
  background-color: #FCF8F3;
  height: 700px;
  overflow: hidden;
  margin-top: 69px;
  margin-bottom: 69px;
}

.slice-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  height: 100%;
}

.text-slice:nth-child(1) {
  grid-column: 1/5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0;
  margin-left: 100px;
}
.text-slice:nth-child(1) h4 {
  font-size: 42px;
  font-weight: 600;
  padding-bottom: 10px;
}
.text-slice:nth-child(1) p {
  color: #616161;
  padding-bottom: 12px;
}
.text-slice:nth-child(1) button {
  background-color: #B88E2F;
  border: 1px solid #B88E2F;
  color: white;
  width: 250px;
  height: 65px;
  font-size: 18px;
  font-weight: 600;
}

.slice-img:nth-child(2) {
  grid-column: 6/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: relative;
  margin-top: 44px;
}
.slice-img:nth-child(2) .img-1 .introduce-slice-img {
  background-color: rgba(255, 255, 255, 0.72);
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 80px;
  left: 20px;
  text-align: center;
}
.slice-img:nth-child(2) .img-1 .introduce-slice-img .introduce-product {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 0;
  gap: 8px;
}
.slice-img:nth-child(2) .img-1 .introduce-slice-img p {
  font-size: 24px;
}
.slice-img:nth-child(2) .img-1 .introduce-slice-img svg {
  margin-top: 13px;
}
.slice-img:nth-child(2) .img-1 .redirect-slice {
  background-color: #B88E2F;
  position: absolute;
  bottom: 80px;
  left: 220px;
  width: 50px;
  height: 40px;
  text-align: center;
  padding: 8px 10px;
}
.slice-img:nth-child(2) .img-2 img {
  width: 400px;
  height: 500px;
  padding-bottom: 30px;
}

.ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ellipse .ellipse-father {
  width: 50px;
  height: 50px;
}
.ellipse .ellipse-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.background {
  width: 100%;
  margin-top: 20px;
  background-image: url("../img/breadcrumbs.png");
  min-height: 316px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.background img {
  max-width: 100%;
  height: 316px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.background .content-wrapper .img-logo img {
  width: 66px;
  height: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
}
.background .content-wrapper .page-name h3 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.background .content-wrapper .breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.background .content-wrapper .breadcrumbs .home a {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.background .content-wrapper .breadcrumbs .pages a {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Poppins;
}

.cart-product {
  margin-top: 70px;
  margin-bottom: 60px;
  margin-left: 150px;
}
.cart-product .table-cart {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.cart-product .table-cart th {
  text-align: left;
  vertical-align: middle;
  padding: 15px 30px;
  width: 10000px;
  height: 55px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #F9F1E7;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cart-product .table-cart td {
  padding: 15px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  text-align: left;
}
.cart-product .table-cart .product-img {
  width: 105px;
  height: 105px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
}
.cart-product .table-cart .product-img img {
  width: 111px;
  height: 90px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  margin: 0 auto;
}
.cart-product .table-cart .product-name {
  padding: 0px 36px;
}
.cart-product .table-cart .product-name p {
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.cart-product .table-cart .product-price {
  padding: 0px 30px;
}
.cart-product .table-cart .product-price p {
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.cart-product .table-cart .product-quantity {
  padding: 0px;
  padding-right: 50px;
}
.cart-product .table-cart .product-quantity p {
  width: 32px;
  height: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #9F9F9F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.cart-product .table-cart .product-total {
  padding: 0px 36px;
}
.cart-product .table-cart .product-total p {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.cart-product .table-cart .product-delete {
  padding: 0px 36px;
  width: 28px;
  height: 28px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
}

.total-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 30px;
}
.total-cart .total {
  background-color: #F9F1E7;
  width: 393px;
  height: 390px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 15px 30px;
}
.total-cart .total .total-title {
  text-align: center;
  padding-bottom: 62px;
}
.total-cart .total .total-title h4 {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.total-cart .total .subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  padding-left: 12px;
  padding-right: 12px;
}
.total-cart .total .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  padding-left: 12px;
  padding-right: 12px;
}
.total-cart .total .checkout {
  text-align: center;
}
.total-cart .total .checkout button {
  background: #F9F1E7;
  width: 222px;
  height: 58.954px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #000;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Poppins;
}

.services {
  background: #faf3ea;
  padding: 100px 50px;
}
.services .services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
}
.services .services-item i {
  font-size: 60px;
  width: 70px;
}
.services .services-item h5 {
  color: #242424;
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
}
.services .services-item span {
  color: #898989;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}

@media (max-width: 768px) {
  .services {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services .services-item {
    margin-bottom: 50px;
  }
}
section .paginate button {
  border: 1px solid #F9F1E7;
  border-radius: 10px;
  background: #F9F1E7;
  width: 60px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
section .paginate button:hover {
  background: #B88E2F;
  border: 1px solid #B88E2F;
}