* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Poppins;
  }
  .cart-product {
    margin-top: 70px;
    margin-bottom: 60px;
    margin-left: 150px;
    .table-cart {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 10px;
        th{
            text-align: left;
            vertical-align: middle;
            padding: 15px 30px;
            width: 10000px;
            height: 55px;
            flex-shrink: 0;
            background-color: #F9F1E7;

            color: #000;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        td{
            padding: 15px 30px;
            align-items: center;
            vertical-align: middle;
            text-align: left;
            
        }
        .product-img{
            width: 105px;
            height: 105px;
            flex-shrink: 0;
            border-radius: 10px;
            // background-color: #F9F1E7;
            img{
                width: 111px;
                height: 90px;
                flex-shrink: 0;
                display: block;
                margin: 0 auto;
            }

        }
        .product-name{
            padding: 0px 36px;
            // padding-left: 36px;
            // padding-right: 80px;
            p{
                color: #9F9F9F;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0
            }
            
        }
        .product-price{
            padding: 0px 30px;
            // padding-left: ;
            p{
                color: #9F9F9F;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0;
            }
        }
        .product-quantity{
            padding: 0px ;
            padding-right: 50px;
            p{
                width: 32px;
                height: 32px;
                flex-shrink: 0;
                border-radius: 5px;
                border: 1px solid #9F9F9F;
                display: flex;  
                align-items: center;  
                justify-content: center;  
                margin: 0 auto;   
                padding: 0;   
            }
        }
        .product-total{
            padding: 0px 36px;
            p{
                color: #000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0;
            }
        }
        .product-delete{
            padding: 0px 36px;
            width: 28px;
            height: 28px;
            flex-shrink: 0;
            // display: block;
            margin: 0;
        }
    }
    
  }
  
  .total-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 30px;
    .total{
        background-color: #F9F1E7;
        width: 393px;
        height: 390px;
        flex-shrink: 0;
        padding: 15px 30px;
        .total-title{
            text-align: center;
            padding-bottom: 62px;
            h4{
                color: #000;
                font-family: Poppins;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
        .subtotal{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 40px;
            padding-left: 12px;
            padding-right: 12px;
        }
        .total-price{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 40px;
            padding-left: 12px;
            padding-right: 12px;
        }
        .checkout{
            text-align: center;
            button{
                background: #F9F1E7;
                width: 222px;
                height: 58.954px;
                flex-shrink: 0;
                border-radius: 15px;
                border: 1px solid #000;
                color: #000;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
  }
}