* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Poppins;
}
img {
  width: 100%;
}
.more_product {
  h3 {
    margin-top: 21px;
    color: #000;
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 21px;
  }
  a {
    position: relative;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
  a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    bottom: -5px;
    left: 50%;
    transition: all 0.3s ease;
  }
  a:hover::after {
    width: 100%;
    left: 0%;
  }
}
.product_comparison {
  margin-bottom: 60px;
  .item_img {
    border-radius: 10px;
    background: #f9f1e7;
    position: relative;
    width: 280px;
    height: 177px;
    margin-bottom: 20px;
    img {
      position: absolute;
      bottom: 10px;
      right: 5px;
    }
  }
  .item_sub {
    h4 {
      color: #000;
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
    }
    .price {
      color: #000;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .star_rating {
      display: flex;
      gap: 5px;
      align-items: center;
      i {
        color: #ffc700;
      }
      p {
        color: #9f9f9f;
        font-size: 13px;
        font-weight: 400;
      }
      p::before {
        content: "|";
        margin-right: 10px;
        color: gray;
      }
    }
  }
}
.add_product {
  margin-top: 30px;
  h5 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .add_product_section {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 242px;
    height: 39px;
    background: #f9f1e7;
    border-radius: 6px;
    a {
      font-size: 14px;
      font-weight: 600;
    }
    &:hover {
      color: #fff;
      background: #b88e2f;
    }
    i {
      font-size: 25px;
    }
  }
}
