* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Poppins;
}
.contact_heading {
  text-align: center;
  margin-bottom: 80px;
  h1 {
    color: #000;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  p {
    width: 644px;
    color: #9f9f9f;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
    overflow-wrap: break-word;
  }
}

.info_contact {
  padding-left: 30px;
  margin-top: 10px;
  .info_item {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    margin-left: 30px;
    i {
      font-size: 30px;
    }
  }
  .item_sub {
    h5 {
      color: #000;
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
    }
    p {
      width: 210px;
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.form_contact {
  padding: 0 55px;
  label {
    margin-bottom: 20px;
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }
  input {
    margin-bottom: 36px;
    border-radius: 10px;
    border: 1px solid #9f9f9f;
    background: #fff;
  }
  .form_info {
    input {
      padding: 26px 30px;
      width: 100%;
    }
  }
  .form_massage {
    input {
      padding: 26px 30px 70px 30px;
      width: 100%;
    }
  }
  button {
    width: 237px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #b88e2f;
    background: transparent;
    margin-bottom: 60px;
  }
  button:hover {
    background: #b88e2f;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .contact_heading {
    p {
      width: 500px;
      overflow-wrap: break-word;
    }
  }
}
