section{
    .paginate{
        text-align: center;
        padding-bottom: 52px;
        button{
            border: 1px solid #F9F1E7;
            border-radius: 10px;
            background: #F9F1E7;
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            color: #000;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 38px;
        }
        button:hover{
            background: #B88E2F;
            border: 1px solid #B88E2F;
        }
    }
}