* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Poppins;
}

.products {
  .img_product {
    background-color: #f9f1e7;
    width: 453px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    img {
      width: 507px;
      padding-top: 83px;
      position: absolute;
      left: -33px;
    }
  }
  .img_sub {
    > img {
      margin-bottom: 20px;
      background-color: #f9f1e7;
      border-radius: 10px;
      height: 80px;
      width: 76px;
    }
  }
}
.product_sub {
  h3 {
    line-height: 50px;
  }
  .price {
    color: #9f9f9f;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .star_rating {
    display: flex;
    gap: 40px;
    margin-bottom: 18px;
    align-items: center;
    i {
      color: #ffc700;
    }
    p {
      color: #9f9f9f;
      font-size: 13px;
      font-weight: 400;
    }
    p::before {
      content: "|";
      margin-right: 10px;
      color: gray;
    }
  }
  > p {
    color: #000;
    font-weight: 400;
  }
  .size {
    margin-top: 22px;
    > span {
      color: #9f9f9f;
      font-size: 14px;
      font-weight: 400;
    }
    .size_options {
      display: flex;
      gap: 16px;
      margin-top: 12px;
      margin-bottom: 18px;
      span {
        display: inline-block;
        padding: 5px 12px;
        border-radius: 5px;
        background: #f9f1e7;
      }
      > span:hover {
        background: #b88e2f;
        color: #fff;
      }
    }
  }
  .color {
    span {
      color: #9f9f9f;
      font-size: 14px;
      font-weight: 400;
    }
    .color_options {
      display: flex;
      gap: 16px;
      margin-bottom: 18px;
      margin-top: 12px;
      div {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }
  .functional_buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
    input {
      width: 20%;
      padding: 20px 30px;
      border-radius: 10px;
      text-align: center;
      border: 1px solid #9f9f9f;
      background: #fff;
    }
    button {
      padding: 17px 50px;
      text-align: center;
      border: 1px solid #000;
      border-radius: 10px;
      background: #fff;
    }
  }
  table {
    margin-top: 40px;
    margin-bottom: 70px;
    width: 500px;
    gap: 10px;
    color: #9f9f9f;

    font-size: 16px;
    font-weight: 400;
    th {
      padding: 10px; /* Điều chỉnh khoảng cách bên trong ô */
    }
    i {
      color: #000;
      margin-right: 3px;
    }
  }
}
hr{
  width: 100%;
  // flex-shrink: 0;
  border: 1px solid black;
  background: #FFF;
}